body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1a1a1a;

    position: fixed;
    width: 100%;
    top: 0;
}

.navbar.nameplate {
    display: flex;
    flex-direction: column;
}

.navbar.nav-buttons {
    display: flex;
    flex-direction: row;
}

.navbar a {
    color: #b3b3b3;
    text-decoration: none;
    padding: 1.5rem;
}

.navbar a:hover {
    background-color: #333333;
    transition: background-color 0.2s ease;
}

.container {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}

.content {
    flex: 1;
    padding: 1rem 4rem;
}

.content h1 {
    color: #ffffff;
}

.content p {
    color: #cccccc;
    line-height: 1.6;
}