body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
}



.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;

    background-color: #1a1a1a;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.navbar .nameplate {
    margin: 1rem 1.5rem 0.5rem 1.5rem;
    
    letter-spacing: 0.1rem;
    font-size: 2rem;
}

.navbar .links {
    margin: 0 2rem;

    display: flex;
    flex-direction: row;
}

.navbar .links a {
    margin: 0 1rem 0.5rem 1rem;

    color: #b3b3b3;
    text-decoration: none;
}

.navbar .links i {
    font-size: x-large;
}

.navbar .nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0rem 2rem;
}

.navbar .nav-buttons > a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b3b3b3;
    text-decoration: none;

    padding: 0.5rem 0 0 0;
    width: 7rem;
    height: 3rem;
}

.navbar a:hover {
    background-color: #333333;
    transition: background-color 0.2s ease;
}



.container {
    margin: 1.5rem 8rem;
    display: flex;
    flex-direction: column;
}

.intro {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.text-box {
    background-color: #333333b1;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.text-box h1 {
    margin: 0 0 10px;
    font-size: 2rem;
}

.text-box p {
    margin: 0;
    font-size: 1.2rem;
}




.content {
    flex: 1;
    padding: 1rem 4rem;
}

.content h1 {
    color: #ffffff;
}

.content p {
    color: #cccccc;
    line-height: 1.6;
}